$color-white: #fff;

$dark-bg-color-1: #252525;
$white-bg-color-1: #E5E5E5;
$dark-bg-color-2: #333333;
$white-bg-color-2: #02897A;
$dark-bg-color-3: #CFC7C0;
$white-bg-color-3: $color-white;

$dark-text-color-1: #FFFEF2;
$white-text-color-1: #000;

$notification-success-color: #48c78e;
$notification-warning-color: #ffe08a;
$notification-error-color: #f14668;
